/*Media Query Mixins*/

@mixin fullMenu {
	@media only screen and (min-width: 500px) {
		@content;
	}
}

@mixin mobileMenu {
	@media only screen and(max-width: 500px) {
		@content;
	}
}

@mixin tablet {
	@media only screen and(max-width: 1200px) {
		@content;
	}
}

@mixin doubleTitle {
	@media only screen and (max-width: 333px) {
		@content;
	}
}

/*Clearfix Mixin*/
@mixin clearfix {
	&::after {
	content: "";
	clear: both;
	display: table;
	}
}