$lightGray: #f1f1f1;
$lightmediumGray: #bbb;
$mediumGray: #999;
$mediumDarkGray: #545454;
$darkGray: #333; 

$linkColor:  #333;
$mainSilver: #c0c0c0;
$white: #fff;
$mainOrange: #cc4a14;
$mainRed: #840614;
$mainBlue: #3B5998;
$mainGreen: #3BA75B;