.row {
	@include clearfix;
	margin-right: -50px;

	@include tablet {
		margin-right: 0;
	}
}

.one-fourth {
	width: 25%;
	float: left;
	box-sizing: border-box;
	padding-right: 50px;

	@include tablet {
		width: 100%;
		padding-right: 0;
		float: none;
	}
}

.three-fourths {
	width: 75%;
	float: left;
	padding-right: 50px;

	@include tablet {
		width: 100%;
		padding-right: 0;
		float: none;
	}
}

.one-third {
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	padding-right: 50px;

	@include tablet {
		width: 100%;
		padding-right: 0;
		float: none;
	}
}