.site-header {

	@include clearfix;

	&__title {
		float: left;

		@include mobileMenu {
			float: none;
			text-align: center;
			margin: 15px 0 0 0;
		}

		@include tablet {
			float: none;
			text-align: center;
			width: 300px;
			margin: 15px auto;
		}
	}

	&__navigation {
		float: right;

		@include tablet {
			float: none;
			width: 320px;
			margin: 0 auto;
		}
	}

	&__form {
		float: left;
		margin-top: 30px;
		margin-left: 30px;

		@include tablet {
			float: none;
			margin: 0 auto;
			width: 500px;
		}

		@include mobileMenu {
			margin-top: 15px;
			margin: 0 auto;
			width: 300px;
		}
	}

	&__form-input {
		border-radius: 5px;
		border-style: solid;
		border: 1px solid $mainBlue;
		height: 35px;
		padding-left: 15px;
		outline: 0;
		width: 500px;

		@include tablet {
			margin: 0 auto;
		}
		
		@include mobileMenu {
			width: 300px;
		}

		&:hover,
		&:active,
		&:focus {
			border: 1px solid $mediumGray;
			border-style: inset;
		}
	}
	
	&__input-container {
		position: relative;
	}

	&__search-button  {
		position: absolute;
		top: 5px;
		right: 15px;
		background-color: #FFF;
		border: none;
	}
}