.user-registration-links {
	&__register {
		
	}

	&__register--hidden {
		display: none;
	}
	
	&__login {

	}

	&__login--hidden {
		display: none;
	}

	&__logout {
		
	}

	&__logout--hidden {
		display: none;
	}
}