.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 110;
  top: 130px;
  left: 25%;
  right: 25%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.96);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
  -webkit-transition: opacity .3s, visibility .3s, -webkit-transform .3s;
  transition: opacity .3s, visibility .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s, visibility .3s;
  transition: opacity .3s, transform .3s, visibility .3s, -webkit-transform .3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .search-overlay--active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  .search-overlay__top {
    background-color: rgba(0, 0, 0, 0.12); }
